PORT=5000
MONGO_URI=mongodb+srv://Nishanth:Ranjana.11@m0cluster.j4d2bg8.mongodb.net/pricora?appName=M0cluster
JWT_SECRET=0e8389cfcbc4996ebbb5f83fa7c94e26e880975a072ef9a1a7a44915b46bbad1
JWT_EXPIRES_IN=7d
NODE_ENV=development